.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
}
.card {
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card h3 {
    margin-bottom: 20px;
    font-size: 1.2em;
}
.card p {
    font-size: 0.9em;
    color: #555;
}
.card-icon {
    margin-bottom: 20px;
}
.card-icon img {
    width: 50px;
}
